div(class="footer")
    div(class="footer__container")
        div(class="footer__top")
            div(class="footer__left")
                div(class="footer__info")
                    h2(class="footer__title") Company name
                    p(class="footer__describe") Lorem ipsum dolor sit amet consectetur dolol drakgonil adipiscing elit aliquam mauris
                    form(action="#" class="footer__submit")
                        input(type="email" placeholder="Enter your email")
                        br
                        div
                            button Suscribe  
                div(class="footer__menu")
                    h3 menu 
                    ul 
                        li Home
                        li Pricing
                        li Case studies
                        li Features
                        li Downloads
                        li Updates
                        li Changelog
            div(class="footer__right")
                div(class="footer__company")
                    h3 Company 
                    ul 
                        li About
                        li Contact us
                        li Careers
                        li Culture
                        li Help Center
                        li Support
                        li Legal
                div(class="footer__image")
                    h3 Follow on Instagram
                    div(class="footer__image--list")
                        img(src="assets/image/footer-img1.png", alt="")
                        img(src="assets/image/footer-img2.png", alt="")
                        img(src="assets/image/footer-img3.png", alt="")
                        img(src="assets/image/footer-img4.png", alt="")
        div(class="footer__bottom")
            div(class="footer__law") Copyright © 2023 BRIX Templates | All Rights Reserved
            div(class="footer__social")
                a(href="#")
                    <i class="fab fa-facebook-f"></i>
                a(href="#")
                    <i class="fab fa-twitter"></i>
                a(href="#")
                    <i class="fab fa-instagram"></i>
                a(href="#")
                    <i class="fab fa-linkedin-in"></i>
